@import 'colors';
@import 'functions';

.page{
	grid-template-columns: 15vw auto;
	grid-template-rows: 5vw auto;
	grid-template-areas:
	"header widget"
    "header main-content";
}

.mainContent{
	grid-area: main-content;
	padding: 2.5%;

	.navigation{
		grid-template-columns: auto auto auto auto auto;
		background-color: $cP;
		@include setText(1vw, white, "QS_Book");
		padding: 1%;
		border-radius: 5px;

		>div{
			@include setText(1.15vw, white, "QS_Book");
			text-align: center;

			.value{
				@include setText(1.5vw, white, "QS_Book");
				font-weight: bold;
				position: relative;
				display: inline-block;

				.current{ cursor: pointer; border: 2px solid transparent; }

				.dropdown{
					position: absolute;
					background-color: $cP;
					color: white;
					border-radius: 0 0 5px 5px;
					display: none;

					.options{ padding: 10%; }
					.options:hover{ background-color: #8dd8ff; }
					.options:last-child:hover{ border-radius: 0 0 5px 5px; }
				}
				.current:hover{ border: 2px solid #8dd8ff; }
			}
		}

		#year .dropdown{
			width: 5vw;
			top: 140%;
		}

		#season .dropdown{
			width: 8vw;
			top: 140%;
		}

		#sort .dropdown{
			width: 8vw;
			top: 140%;

			.options:first-child{ font-size: 1.25vw; }
		}
	}

	.animeList{
		grid-template-columns: 33.33% 33.33% 33.33%;
		margin-top: 1.25%; 

		>div{
			display: grid;
			grid-template-columns: 50% 50%;
			height: 20vw;
			margin: 0 0 2.5vw 0;
		
			.animeImage{
				background-color: $cP;
				background-image: url(../image/karakai.jpg);
				background-size: cover;
				background-position: center;
				border-radius: 10px;
			}

			.animeDetail{
				padding-left: 10%;

				.detail div{ margin: 3.5% 0; wrod-wrap: break-word; }
				.detail div:first-child{ @include setText(1vw, $cP, "QS_Book"); }
				.detail div:last-child{ @include setText(1.25vw, $cText, "QS_Book"); }
			}
		}
	}
}