@import 'colors';
@import 'functions';

.page{
	grid-template-columns: 15vw 85vw;
	grid-template-rows: auto auto;
	grid-template-areas: "header faq";
}

.faq_container{
	grid-area: faq;
	width: 80%;
	margin-left: 5%;

	hr{
		border: none;
    	height: 1px;
    	background: $cText;
    	background-image: linear-gradient(to right, #ccc, $cText, #ccc);
	}
	.title{ @include setText(2.5vw, $cText, "QS_Book"); margin: 2.5% 0; }
	.subtitle{ @include setText(2vw, $cText, "QS_Book"); margin: 1.5% 0; }
	.sign{ 
		@include setText(2vw, $cText, "QS_Book"); float: right; 
		position: relative;
		right: 2%;
		cursor: pointer;
	}
	#answer{
		@include setText(1.25vw, $cText, "QS_Book");
		margin: 2% 0;
		display: none;
	}

}