.page {
  grid-template-columns: 15vw auto;
  grid-template-rows: 5vw auto;
  grid-template-areas: "header widget" "header main-content";
}

.content .latest_update .latest_update_wrapper .animeThumb, .content .top_airing .top_airing_wrapper div, .content .latest_news .latest_news_wrapper span {
  border: 1px solid #d5dfe8;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  margin: auto auto;
  background-size: cover;
  cursor: pointer;
}

.content-area {
  grid-area: main-content;
}

.content {
  grid-template-columns: auto;
  grid-row-gap: 2.5vw;
  padding: 4vw 4vw 5vw 4vw;
}
.content .section_title {
  grid-area: section_title;
  margin-bottom: 2.5%;
}
.content .pagination {
  position: relative;
  right: 5%;
  grid-area: pagination;
  padding-bottom: 2.5vw;
}
.content .google_ads {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #42beff;
  height: 8vw;
}
.content .google_ads .section_title {
  margin: 0;
  text-align: center;
  font-size: 2vw;
  color: white;
  font-family: "QS_Book";
}
.content .latest_update {
  grid-template-columns: auto auto;
  grid-template-rows: 5vw auto;
  grid-template-areas: "section_title pagination" "latest_update_wrapper latest_update_wrapper";
}
.content .latest_update .latest_update_wrapper {
  grid-area: latest_update_wrapper;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content .latest_update .latest_update_wrapper .animeThumb {
  width: 80%;
  height: 20vw;
}
.content .latest_update .latest_update_wrapper span {
  position: relative;
  top: .5vw;
  text-align: center;
  font-size: 1.5vw;
  color: #5c6275;
  font-family: "QS_Light";
}
.content .top_airing .top_airing_wrapper {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.content .top_airing .top_airing_wrapper div {
  width: 90%;
  height: 18vw;
  position: relative;
}
.content .top_airing .top_airing_wrapper div:first-child .numbering {
  color: white;
  background-color: #42beff;
}
.content .top_airing .top_airing_wrapper button {
  position: relative;
  top: .5vw;
  border: none;
  margin: .1vw 2vw;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}
.content .top_airing .top_airing_wrapper .unfollow {
  background-color: #42beff;
  font-size: 1.5vw;
  color: white;
  font-family: "QS_Light";
}
.content .top_airing .top_airing_wrapper .followed {
  background-color: #d5dfe8;
  font-size: 1.5vw;
  color: #878da0;
  font-family: "QS_Light";
}
.content .top_airing .top_airing_wrapper .numbering {
  background-color: white;
  position: absolute;
  top: 10%;
  text-align: center;
  width: 10%;
  padding: 4%;
  display: block;
  font-size: 1.5vw;
  color: #42beff;
  font-family: "QS_Book";
}
.content .latest_update_wrapper .animeThumb::before,
.content .top_airing_wrapper .animeThumb::before {
  content: "";
  height: 100%;
  display: block;
  background-color: rgba(92, 98, 117, 0.6);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  font-size: 3vw;
  color: white;
  font-family: "QS_Light";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.content .latest_update_wrapper .animeThumb::after,
.content .top_airing_wrapper .animeThumb::after {
  content: attr(title);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  top: -100%;
  height: 100%;
  width: 100%;
  font-size: 2vw;
  color: white;
  font-family: "QS_Light";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.content .latest_update_wrapper .animeThumb:hover:after,
.content .latest_update_wrapper .animeThumb:hover:before,
.content .top_airing_wrapper .animeThumb:hover:after,
.content .top_airing_wrapper .animeThumb:hover:before {
  opacity: 0;
}
.content .latest_news .latest_news_wrapper {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2vw;
}
.content .latest_news .latest_news_wrapper span {
  width: 90%;
  height: 100%;
  background-position: center;
}
.content .latest_news .latest_news_wrapper div {
  margin: 0 0 1.75% 0;
}
.content .latest_news .latest_news_wrapper div .news_title {
  font-size: 2vw;
  color: #42beff;
  font-family: "QS_Book";
  cursor: pointer;
}
.content .latest_news .latest_news_wrapper div .news_content {
  font-size: 1.25vw;
  color: #888;
  font-family: "QS_Book";
  width: 90%;
  padding: 1% 0;
  text-align: justify;
}
.content .latest_news .latest_news_wrapper div a {
  font-size: 1.25vw;
  color: #42beff;
  font-family: "QS_Book";
}
.content .latest_news .latest_news_wrapper div a:hover {
  text-decoration: underline;
}
.content .promotion .promotion_wrapper {
  background-color: #42beff;
  width: 90%;
  height: 25vw;
  font-size: 2.5vw;
  color: white;
  font-family: "QS_Book";
  padding: 2.5%;
  grid-template-columns: 1fr 1fr;
}
.content .promotion button {
  position: relative;
  top: 15vw;
  background-color: white;
  border: none;
  margin: .1vw 2vw;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  width: 15vw;
  height: 3vw;
  outline: none;
  cursor: pointer;
  font-size: 1.5vw;
  color: #42beff;
  font-family: "QS_Light";
}
.content .promotion .promotion_image {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=index.css.map */
