@import 'colors';
@import 'functions';

.page{
	grid-template-columns: 15vw 15vw 69vw;
	grid-template-rows: auto auto;
	grid-template-areas: 
	"header widget widget" 
	"header list content";
}

.news_list{
	grid-area: list;
	position: fixed;
	top: 5vw;
	left: 15vw;
	width: 15vw;
	max-height: 100vh;
	overflow: auto;

	.title{	
		@include setText(calc(5px + 0.75vw), $cDrkBlueLt, "QS_Bold");	
		text-align: center; 
		margin: 5% 0;
	}

	a{
		display: block;
		padding: 5% 7.5% 5% 7.5%;

		.date{ @include setText(calc(5px + 0.75vw), $cDrkBlueLt, "QS_Bold"); }
	}

	.list_content{
		@include setText(calc(5px + 0.75vw), $cP, "QS_Book");
		@include transition(background-color 0.25s ease);
		padding-top: 3%;
		width: 100%;
	}
	a:hover .list_content{ text-decoration: underline; }
	a:hover, a:active{ background-color: $cP; }
	a:hover .list_content, a:hover .date { color: white; }
}

.news_list::-webkit-scrollbar {
	display: none !important;
}

.news_content_wrapper{
	grid-area: content;
	margin-top: 6vw;
}

.news_content{

	width: 90%;

	.img_container{
		width: 100%;
		height: 25vw;
		background: url(../image/news-img.jpg) 50% 20%;

		img{
			width: 100%;
			height: 100%;
		}
	}

	.tags{
		margin-top: 5%;
		@include setText(calc(5px + 1vw), $cBlue, "QS_Bold");
	}

	.title{
		@include setText(calc(10px + 1.5vw), $cText, "QS_Book");
	}
	.date{
		margin-top: 0.5%;
		@include setText(calc(5px + .8vw), $cText, "QS_Book");
	}
	.content{
		padding: 5% 2.5% 2.5% 0%;
		text-shadow: 0 0 10px white, 
					 0 0 10px white, 
					 0 0 10px white, 
					 0 0 10px white, 
					 0 0 10px white,
					 0 0 10px white;
		@include setText(calc(7.5px + 0.75vw), $cText, "QS_Book");
		line-height: 1.4em;
	}
}