.page {
  grid-template-columns: 15vw auto;
  grid-template-rows: 5vw auto;
  grid-template-areas: "header widget" "header content";
}

.content {
  grid-area: content;
  grid-template-columns: 65% auto;
  grid-template-rows: 45vw auto;
  grid-template-areas: "video other" "comment other";
}
.content .video {
  grid-area: video;
  padding: 5% 3.5% 5% 7.5%;
}
.content .video .video_container {
  width: 100%;
  height: 27.5vw;
  margin-bottom: 2.5%;
}
.content .video .video_container #pv {
  width: 100%;
  height: 100%;
}
.content .video #episode {
  font-size: 2vw;
  color: #42beff;
  font-family: "QS_Book";
}
.content .video #airDate {
  font-size: 1.5vw;
  color: #888;
  font-family: "QS_Book";
  margin-left: 1.5%;
}
.content .video #title {
  font-size: 2vw;
  color: #888;
  font-family: "QS_Book";
  margin: 1% 0;
}
.content .video .stats {
  font-size: 1.25vw;
  color: #888;
  font-family: "QS_Book";
  margin: 1.5% 0;
  border-bottom: 2px solid #bbcbdb;
}
.content .video .stats #views {
  width: 50%;
}
.content .video .stats #likes, .content .video .stats #dislikes, .content .video .stats #share {
  cursor: pointer;
  padding: 2.5% 1.5%;
}
.content .video .stats #likes:hover, .content .video .stats #dislikes:hover, .content .video .stats #share:hover {
  border-bottom: 2px solid #42beff;
  color: #555;
}
.content .video .stats > span {
  display: inline-block;
  padding: 2.5% 0;
  height: 100%;
}
.content .comment {
  grid-area: comment;
  padding: 0 7.5%;
}
.content .comment .section_title {
  font-size: 2vw;
  color: #888;
  font-family: "QS_Book";
  margin: 1% 0;
}
.content .comment .section_content {
  padding: 2.5% 3.33%;
}
.content .comment .section_content .container {
  margin-bottom: 3.33%;
}
.content .comment .section_content .container #write, .content .comment .section_content .container .read {
  position: relative;
}
.content .comment .section_content .container #write .fas, .content .comment .section_content .container .read .fas {
  font-size: 2.75vw;
  vertical-align: top;
}
.content .comment .section_content .container #write input, .content .comment .section_content .container .read input {
  border: none;
  border-bottom: 1.25px solid #d5dfe8;
  width: 80%;
  font-size: 1.25vw;
  color: #888;
  font-family: "QS_Book";
  padding: 1%;
  margin: 0 2.5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content .comment .section_content .container #write input:focus, .content .comment .section_content .container #write textarea:focus, .content .comment .section_content .container .read input:focus, .content .comment .section_content .container .read textarea:focus {
  outline-width: 0;
}
.content .comment .section_content .container .read .existingComment {
  display: inline-block;
  width: 80%;
  padding: 1%;
  margin: 0 2.5%;
  font-size: 1vw;
  color: #888;
  font-family: "QS_Book";
}
.content .comment .section_content .container .read .existingComment #username {
  font-size: 1.33vw;
  color: #888;
  font-family: "QS_Book";
}
.content .comment .section_content .container .read .existingComment #date {
  margin-left: 2.5%;
}
.content .comment .section_content .container .read .existingComment #commentContent, .content .comment .section_content .container .read .existingComment #rContent {
  font-size: 1vw;
  color: #888;
  font-family: "QS_Book";
  margin: 1.5% 0;
  text-align: justify;
}
.content .comment .section_content .container .read .existingComment #reply, .content .comment .section_content .container .read .existingComment #likes, .content .comment .section_content .container .read .existingComment #dislikes {
  display: inline-block;
  padding: 1% 0;
}
.content .comment .section_content .container .read .existingComment #reply:hover {
  cursor: pointer;
  border-bottom: 1.25px solid #888;
}
.content .comment .section_content .container .read .existingComment #likes, .content .comment .section_content .container .read .existingComment #dislikes {
  padding: 1% 2.5%;
  cursor: pointer;
}
.content .comment .section_content .container .read .existingComment #replyComment {
  display: none;
}
.content .comment .section_content .container .read .existingComment #replyComment textarea {
  border: none;
  resize: none;
  border-bottom: 1.25px solid #bbcbdb;
  font-size: 1vw;
  color: #888;
  font-family: "QS_Book";
  display: inline-block;
  width: 100%;
  padding: 1% 0.5%;
  cursor: text;
}
.content .comment .section_content .container .read .existingComment .fas {
  font-size: 1.25vw;
}
.content .comment .section_content .container .read .existingComment .showReply {
  font-weight: bolder;
  display: inline-block;
  padding: 1% 0;
  cursor: pointer;
}
.content .comment .section_content .container .read .existingComment #showReply:hover {
  cursor: pointer;
  color: #555;
}
.content .comment .section_content .container .read .existingComment .replyContainer {
  padding: 1.5% 0;
  width: 100%;
}
.content .comment .section_content .container .read .existingComment .replyContainer .fas {
  font-size: 2.75vw;
  vertical-align: top;
}
.content .comment .section_content .container .read .existingComment .replyContainer #replyContent {
  display: inline-block;
  margin-left: 2.5%;
  width: 88%;
}
.content .comment .section_content .container .read .existingComment .replyContainer #replyContent #rUsername {
  font-size: 1.25vw;
  color: #888;
  font-family: "QS_Book";
}
.content .comment .section_content .container .read .existingComment .replyContainer #replyContent #rDate {
  margin-left: 2.5%;
}
.content .other {
  grid-area: other;
  padding: 8.5% 0 8.5% 4.5%;
}
.content .other .section {
  font-size: 1.5vw;
  color: #888;
  font-family: "QS_Book";
}
.content .other #recommend {
  width: 90%;
  border-top: 1.25px solid #d5dfe8;
  padding-top: 2.5%;
}
.content .other .container {
  margin: 2.5% 0;
  grid-template-columns: 40% 50%;
  position: relative;
}
.content .other .container .video_container {
  width: 90%;
  height: 6vw;
  background-size: cover;
}
.content .other .one .info {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.content .other .one .info .episode {
  font-size: 1.5vw;
  color: #888;
  font-family: "QS_Book";
}
.content .other .one .info .title {
  font-size: 0.95vw;
  color: #888;
  font-family: "QS_Book";
  margin: 1.5% 0;
}
.content .other .one .info .episode:hover {
  border-bottom: 1.25px solid #888;
}
.content .other .two {
  margin: 5% 0;
}
.content .other .two .info {
  font-size: 1vw;
  color: #888;
  font-family: "QS_Book";
}
.content .other .two .info .title {
  color: #555;
  font-weight: bold;
  padding-bottom: 1.5%;
}
.content .other .two .info .title:hover {
  border-bottom: 1.25px solid #555;
}
.content .other .two .info div {
  margin-top: 2.5%;
}
.content .other .two .info .button {
  background-color: #42beff;
  font-size: 1vw;
  color: white;
  font-family: "QS_Book";
  border-radius: 50px;
  display: inline-block;
  margin: 2.5% 0;
  padding: 1% 7.5%;
  cursor: pointer;
}
.content .other .two .info .subscribed {
  background-color: #d5dfe8;
  font-size: 1vw;
  color: #888;
  font-family: "QS_Book";
}
.content .other #prev_episode {
  margin-bottom: 5%;
}
.content .other .more {
  width: 90%;
  background-color: #d5dfe8;
  font-size: 1vw;
  color: #888;
  font-family: "QS_Book";
  text-align: center;
  padding: 1.25% 0;
  cursor: pointer;
}

/*# sourceMappingURL=streaming.css.map */
