@import 'colors';
@import 'functions';

.page{
	grid-template-columns: 15vw auto;
	grid-template-rows: 5vw auto;
	grid-template-areas:
	"header widget"
  "header content";
}

.content{
	grid-area: content;
  
  grid-template-columns: 65% auto;
  grid-template-rows: 45vw auto;
  grid-template-areas: 
  "video other"
  "comment other";
  
  .video{
    grid-area: video;
    padding: 5% 7.5%;
    
    .video_container{
      width: 100%;
      height: 27.5vw;
      border: 1px solid black;
      margin-bottom: 2.5%;
    }
    
    #episode{ @include setText(2vw, $cP, "QS_Book"); }
    #airDate{ @include setText(1.5vw, $cText, "QS_Book"); margin-left: 1.5%; }
    #title{ @include setText(2vw, $cText, "QS_Book"); margin: 1% 0; }
    
    .stats{
      @include setText(1.25vw, $cText, "QS_Book"); 
      margin: 1.5% 0;
      #views{ width: 50%;}
      #likes, #dislikes, #share{ cursor: pointer; padding: 2.5% 1.5%; }
      #likes:hover, #dislikes:hover, #share:hover{
        border-bottom: 2px solid $cP;
        color: #555;
      }
    }
    
    .stats > span{
      display: inline-block;
      border-bottom: 2px solid $cT;
      padding: 2.5% 0;
      height: 100%;
    }
  }
  
  .comment{
    grid-area: comment;
    padding: 0 7.5%;

    .section_title{ @include setText(2vw, $cText, "QS_Book"); margin: 1% 0; }
    .section_content{
      padding: 2.5% 3.33%;

      .container{
        margin-bottom: 3.33%;
        #write, .read{
          position: relative;

          .fas{ font-size: 2.75vw; vertical-align: top; }
          input{ 
            border: none; 
            border-bottom: 1.25px solid $cS;
            width: 80%;
            @include setText(1.25vw, $cText, "QS_Book");
            padding: 1%;
            margin: 0 2.5%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          input:focus { outline-width: 0; }
        }
        .read{
          .existingComment{
            display: inline-block;
            width: 80%;
            padding: 1%;
            margin: 0 2.5%;
            @include setText(1vw, $cText, "QS_Book");
            
            #username{ @include setText(1.33vw, $cText, "QS_Book"); }
            #date{ margin-left: 2.5%; }
            #commentContent, #rContent{
              @include setText(1vw, $cText, "QS_Book");
              margin: 1.5% 0;
              text-align: justify;
            }
            #reply, #likes, #dislikes{
              display: inline-block;
              padding: 1% 0;
            }
            #reply:hover{ cursor:pointer; border-bottom: 1.25px solid $cText; }
            #likes, #dislikes{ padding: 1% 2.5%; cursor: pointer; }
            /* #likes:hover, #dislikes:hover{
              cursor: pointer;
              border-bottom: 1.25px solid $cText;
            }  */
            .fas{ font-size: 1.25vw; }
            .showReply{
              font-weight: bolder;
              display: inline-block;
              padding: 1% 0;
              cursor: pointer;
            }
            #showReply:hover{
              cursor: pointer;
              color: #555;
            }
            .replyContainer{
              padding: 1.5% 0;
              width: 100%;

              .fas{ font-size: 2.75vw; vertical-align: top; }
              #replyContent{
                display: inline-block;
                margin-left: 2.5%;
                width: 88%;
                #rUsername{ @include setText(1.25vw, $cText, "QS_Book"); }
                #rDate{ margin-left: 2.5%; }
              }
            }
          }
        }
      }
    }
  }
  
  .other{
    grid-area: other;
    padding: 8.5% 0;

    .section{ @include setText(1.5vw, $cText, "QS_Book"); }
    #recommend{
      width: 90%;
      border-top: 1.25px solid $cS;
      padding-top: 2.5%;
    }
    .container{
      margin: 2.5% 0;
      grid-template-columns: 40% 50%;
      position: relative;

      .video_container{ 
        width: 90%; 
        height: 6vw;
        border: 1px solid black; 
      }
    }
    .one .info{
      position: absolute;
      width: 40%;
      top: 50%;
      left: 40%;
      transform: translateY(-50%);

      .episode{ @include setText(1.5vw, $cText, "QS_Book"); }
      .title{ @include setText(0.95vw, $cText, "QS_Book"); margin: 1.5% 0; }
      .episode:hover{ border-bottom: 1.25px solid $cText; }
    }
    .two{ margin: 5% 0; }
    .two .info{
      @include setText(1vw, $cText, "QS_Book");
      .title{ 
        color: #555; 
        font-weight: bold; 
        padding-bottom: 1.5%; 
      }
      .title:hover{ border-bottom: 1.25px solid #555; }
      div{ margin-top: 2.5% }
      .button{
        background-color: $cP;
        @include setText(1vw, white, "QS_Book");
        border-radius: 50px;
        display: inline-block;
        margin: 2.5% 0;
        padding: 1% 7.5%;
        cursor: pointer;
      }
      .subscribed{
        background-color: $cS;
        @include setText(1vw, $cText, "QS_Book");
      }
    }
    #prev_episode{ margin-bottom: 5%; }
  
    .more{
      width: 90%;
      background-color: $cS;
      @include setText(1vw, $cText, "QS_Book");
      text-align: center;
      padding: 1.25% 0;
      cursor: pointer;
    }
  }
}
