@import 'colors';
@import 'functions';

.page{
	height: 100vh;
	@include setText(1.25vw, $cBlue, "QS_Light");
}

.status{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	i{
		font-size: 6vw;
		color: $cGreen;
	}
}

