@import 'colors';
@import 'functions';

.video-js .vjs-control-bar { 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.vjs-default-skin .vjs-big-play-button {
	font-size: 3em;
	$big-play-width: 3em; 
	$big-play-height: 1.5em;

	line-height: $big-play-height;
	height: $big-play-height;
	width: $big-play-width;
	border: 0em !important;
	border-radius: 50em !important;
	  
	left: 50% !important;
	top: 50% !important;
	margin-left: -($big-play-width / 2);
	margin-top: -($big-play-height / 2);   
}

.video-js .vjs-control-bar,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: white;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba(#222, .5);
}

.video-js .vjs-big-play-button{
  color: $cBlueLt;
  background-color: white !important;
  transition: .3s ease-in-out;
}

#pv:hover .vjs-big-play-button{ 
	background-color: #42beff !important; 
	color: white; 
	transition: .3s ease-in-out; 
} 

// Make a slightly lighter version of the main background
// for the slider background.
$slider-bg-color: lighten($cBlueLt, 33%);

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  // background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.5);
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $cBlueLt;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  // background: lighten($slider-bg-color, 25%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($cBlueLt, .8);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: lighten($slider-bg-color, 50%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.75);
}

.vjs-menu li{
  text-transform: uppercase;
}

.vjs-poster{
  transition: .5s ease-in-out;
}
